# CakePHP specific files #
##########################
/cakephp/config/app.php
/cakephp/config/.env
/cakephp/logs/*
/cakephp/tmp/*
/cakephp/vendor/*
/cakephp/*.sqlite
/cakephp/composer.lock


# JetBrains, aka PHPStorm, IntelliJ IDEA
.idea/*

